<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


	<!-- needed for ContextLoaderListener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

<!-- 	Bootstraps the root web application context before servlet initialization -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


<servlet>

<servlet-name>wocao</servlet-name>
<servlet-class>com.example.servlet.Wodeshiyan</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>

<servlet-name>wocao</servlet-name>
<url-pattern>/nimei</url-pattern>
</servlet-mapping>

	<servlet>
		<servlet-name>disp1</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>


		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
		<multipart-config>
			<max-file-size>5555555555555555</max-file-size>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>disp1</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>



	<!-- <servlet> <servlet-name>disp2</servlet-name> <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
		<init-param> <param-name>contextConfigLocation</param-name> <param-value>classpath:springmvc2.xml</param-value> 
		</init-param> <load-on-startup>1</load-on-startup> </servlet> <servlet-mapping> 
		<servlet-name>disp2</servlet-name> <url-pattern>/user2/*</url-pattern> </servlet-mapping> -->



</web-app>